<a href="https://colab.research.google.com/github/ncherniavska/Ml-homework/blob/main/%D0%9A%D0%BE%D0%BF%D1%96%D1%8F_%D0%B7%D0%B0%D0%BF%D0%B8%D1%81%D0%BD%D0%B8%D0%BA%D0%B0_%22HW1_%D0%97%D0%BC%D1%96%D0%BD%D0%BD%D1%96_%D1%82%D0%B0_%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%96_%D1%82%D0%B8%D0%BF%D0%B8_%D0%B4%D0%B0%D0%BD%D0%B8%D1%85_%D0%B2_Python_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## HW1. Змінні та основні типи даних в Python

**1. Створення змінних**

Створіть змінні для особистої інформації (кожен пункт оцінюється в 0.5 бала):
- `name` - ваше ім'я (рядок)
- `age` - ваш вік (ціле число)
- `height` - ваш зріст в метрах (дробове число)
- `is_student` - чи є ви студентом (True/False)

Виведіть кожну з цих змінних за допомогою функції `print()`.

In [1]:
# Variable creation
name = "Nadiia"   # string
age = 36          # integer
height = 1.72     # float
is_student = True # bool
print (name, age, height, is_student)

Nadiia 36 1.72 True


---

**2. Арифметичні операції**

Створіть дві змінні: `var1` зі значенням 15, `var2` зі значенням 4.

Обчисліть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Суму
- Різницю
- Добуток
- Ділення
- Цілочисельне ділення
- Залишок від ділення
- Піднесення до степеня

In [2]:
# Arithmetic operations
var1 = 15
var2 = 4

print(var1 + var2)  # addition
print(var1 - var2)  # substraction
print(var1 * var2)  # multiplication
print(var1 / var2)  # division
print(var1 // var2)  # integer devision
print(var1 ** var2)  # exponentiation
print(var1 % var2)  # modulo

19
11
60
3.75
3
50625
3


---

**3. Робота з рядками**

Створіть зміну `last_name`, яка містять ваше прізвище.

Виконайте (кожен пункт оцінюється в 0.5 бала):
- Об'єднайте значення змінних `name` та `last_name` через пробіл в один рядок і збережіть в нову змінну `full_name`
- Виведіть `full_name` великими літерами
- Виведіть `full_name` малими літерами
- Виведіть довжину `full_name`
- Виведіть фразу: "Мене звати [ім'я], мені [вік] років". Вік використайте зі змінної, створеної у вправі 1.

In [3]:
# string operations
last_name  = "Cherniavska"
full_name = name + ' ' + last_name
print(full_name.upper())  # uppercase letter
print(full_name.lower())  # lowercase letter
print(len(full_name))     # string length
print(f"Мене звати {full_name}, мені {age} років")

NADIIA CHERNIAVSKA
nadiia cherniavska
18
Мене звати Nadiia Cherniavska, мені 36 років